body {
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    color: #333;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}


/*------------------main-menu------------------*/

.main-menu ul {
    font-size: 0;
    padding: 0;
}

.main-menu li {
    display: inline-block;
    background-color: #fff;
    width: 240px;
    vertical-align: top;
    font-size: 14px;
}

.mm-item {
    display: block;
}


/*----------------------index.html----------*/

.main-img {
    width: 1200px;
    padding-top: 76px;
}

.main-img-text {
    width: 458px;
    height: 352px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 23px;
}

.main-img-mask {
    height: 57px;
}

.index-layout-row {
    /* для оформления схемы */
    margin-bottom: 30px;
    padding-top: 30px;
}

.feature-title {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.feature-title-header {
    margin-bottom: 39px;
    font-weight: bold;
    font-size: 21px;
    color: #000;
}

.features-item {
    float: left;
    width: 400px;
    min-height: 256px;
    text-align: center;
    vertical-align: top;
}

.features-img {
    float: left;
    width: 800px;
    height: 256px;
}

.features-section p {
    line-height: 21px;
}

.features-section {
    float: left;
    width: 400px;
    text-align: center;
}

.features-item-header,
.features-section-header {
    font-weight: bold;
    font-size: 21px;
    color: #000;
}

.features-item-header {
    line-height: normal;
}

.features-section-header {
    line-height: 26px;
}

.offer {
    text-align: center;
}

.offer-header {
    font-weight: bold;
    font-size: 30px;
    line-height: normal;
    color: #000;
}

.offer p {
    line-height: 24px;
}

.map {
    min-height: 607px;
}

.mf-layout-column {
    float: left;
    width: 400px;
    /* для оформления схемы */
    min-height: 120px;
}


/*----------------hotels.html-----------------*/

.container {
    width: 1056px;
    margin: 0 auto;
    /* для оформления схемы */
    margin-bottom: 30px;
}


/*----main-filter-----------------------------*/

.main-filter {
    padding-top: 30px;
}

.main-filter-list {
    float: left;
    width: 240px;
    margin-right: 10px;
}

.main-filter-title {
    font-size: 16px;
    font-weight: bold;
}

.main-filter-col-right {
    float: right;
    width: 330px;
}

.main-filter-range {
    width: 328px;
}

.main-filter-btn-output {
    text-align: center;
}

.price-range {
    text-align: center;
}

input[id="price-from"],
input[id="price-to"] {
    width: 60px;
}


/*-----------output-options----------------------*/

.output-options {
    line-height: 86px;
    min-height: 86px;
}

.output-options-col-left {
    float: left;
    width: 800px;
}

.output-options-col-right {
    float: right;
    width: 200px;
}

.output-options-item {
    vertical-align: middle;
}

.options-found {
    font-size: 21px;
    font-weight: bold;
}

.options-sort {
    font-size: 12px;
}

.sort-by-btn {
    font-size: 12px;
}


/*------------output-------------------------------*/

.output-item {
    padding-top: 30px;
    padding-bottom: 30px;
}

.output-img {
    float: left;
    width: 135px;
    height: 90px;
    margin-right: 30px;
}

.output-info {
    float: left;
    width: 700px;
}

.output-info-row {
    line-height: 30px;
    min-height: 30px;
}

.output-info-item {
    display: inline-block;
}

.output-title,
.output-type,
.output-price {
    line-height: normal;
    text-align: left;
}

.output-title {
    margin: 0;
    font-size: 21px;
    font-weight: bold;
}

.output-btn {
    line-height: normal;
    vertical-align: bottom;
}

.output-type,
.output-more {
    min-width: 110px;
    margin-right: 6px;
}

.output-rating-col {
    float: right;
}

.output-rating-row {
    float: right;
    line-height: 30px;
    min-height: 30px;
}

.output-rating {
    text-align: right;
}

.output-stars {
    width: 150px;
    /* для оформления схемы */
    min-height: 60px;
    background-color: aqua;
    outline: 2px solid cadetblue;
}


/*======================================
 Системное оформление - не изменять
=======================================*/

p,
h1,
h2,
h3,
h4,
span,
a {
    outline: 2px solid cadetblue;
}

.gl00,
.gl0,
.gl1,
.gl2,
.gl3 {
    position: relative;
}

.gl00:before,
.gl0:before,
.gl1:before,
.gl2:before,
.gl3:before {
    content: '';
    position: absolute;
    left: -1px;
    top: 0;
    height: 20px;
    padding: 2px 5px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    font-family: "Courier New", monotype;
    white-space: nowrap;
}

.gl0:before,
.gl1:before,
.gl2:before {
    top: -20px;
}

.gl2:before {
    left: 100px;
}

.gl00 {
    outline: 2px solid orange;
}

.gl00:before {
    color: #fff;
    background: orange;
}

.gl0 {
    outline: 2px solid blue;
    background: rgba(0, 0, 255, .1);
    margin-bottom: 30px;
}

.gl0:before {
    color: #fff;
    background: rgba(0, 0, 255, .9);
}

.gl1 {
    outline: 2px solid green;
    background: rgba(0, 128, 0, .1);
}

.gl1:before {
    color: #fff;
    background: rgba(0, 128, 0, .9);
}

.gl2 {
    outline: 2px solid rgb(255, 45, 82);
    background: rgba(255, 45, 82, .1);
}

.gl2:before {
    color: #fff;
    background: rgba(255, 45, 82, .9);
}

.gl3 {
    outline: 2px solid rgb(234, 255, 45);
    background: rgba(234, 255, 45, .1);
}

.gl3:before {
    color: #000;
    background: rgba(234, 255, 45, .8);
}

.gl4:before {
    color: #000;
    background: cadetblue;
}

.main-container::before {
    content: ".main-conteiner";
}

.main-menu::before {
    content: ".main-menu";
}

.main-img:before {
    content: ".main-img";
}

.main-img-text:before {
    content: ".main-img-text";
}

.features:before {
    content: ".features";
}

.container:before {
    content: ".container";
}

.feature-title:before {
    content: ".feature-title";
}

.features-item:before {
    content: ".features-item";
}

.features-img:before {
    content: ".features-img";
}

.features-section:before {
    content: ".features-section";
}

.features-row:before {
    content: ".features-row";
}

.offer:before {
    content: ".offer";
}

.main-footer:before {
    content: ".main-footer";
}

.mf-layout-column:before {
    content: ".mf-layout-column";
}

.map:before {
    content: ".map";
}

.main-img-mask:before {
    content: ".main-img-mask";
}

.index-layout-row:before {
    content: ".index-layout-row";
}

.main-filter-col-right:before {
    content: ".main-filter-col-right";
}

.main-filter-list:before {
    content: ".main-filter-list";
}

.output-item:before {
    content: ".output-item";
}

.main-filter:before {
    content: ".main-filter";
}

.output-options:before {
    content: ".output-options";
}

.output:before {
    content: ".output";
}

.output-options-col-left:before {
    content: ".output-options-col-left";
}

.output-options-col-right:before {
    content: ".output-options-col-right";
}

.output-stars:before {
    content: ".output-stars";
}