body {
    min-width: 1200px;
    margin-top: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    text-transform: uppercase;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-container {
    padding-top: 0;
    width: 1200px;
    margin: 0 auto;
}

.container {
    width: 1056px;
    margin: 0 auto;
}


/*------------------main-menu------------------*/

.main-menu {
    background: #fff;
}

.main-menu ul {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
}

.main-menu-col {
    display: inline-block;
    vertical-align: top;
}

.main-menu-col a {
    display: block;
    width: 200px;
    min-height: 56px;
    line-height: 56px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.main-menu-col a:hover {
    color: #81b3d2;
}

.main-menu-col a:active {
    opacity: 0.3;
}

.main-menu .active a {
    color: #766357;
}

.main-menu .active a:hover {
    color: #604e43;
}

.main-menu .active a:active {
    opacity: 0.3;
}

.main-menu-logo a {
    display: block;
    position: absolute;
    top: 0px;
    left: 50%;
    width: 138px;
    height: 70px;
    margin-left: -69px;
    background: url(../img/logo.png) no-repeat;
    z-index: 100;
}

.main-menu-col-left {
    float: left;
    margin-right: 40px;
    text-align: left;
}

.main-menu-col-right {
    float: right;
    margin-left: 40px;
    text-align: right;
}


/*---------------------main-footer--------*/

.main-footer-index {
    position: absolute;
    bottom: 0;
    background-color: #fefefe;
    opacity: .9;
}

.mf-layout-column {
    float: left;
    width: 260px;
    min-height: 120px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 0;
    text-align: center;
    line-height: 120px;
}

.mf-container {
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
    line-height: normal;
}

.mf-hashtag-link {
    display: block;
    font-size: 21px;
    font-weight: bold;
    line-height: 24px;
    text-decoration: none;
    color: #000;
}

.social-btn {
    display: inline-block;
    width: 46px;
    height: 48px;
    margin-right: 6px;
    vertical-align: top;
    font-size: 20px;
    line-height: 24px;
    background-color: #81b3d2;
}

.social-btn:last-child {
    margin-right: 0;
}

.social-btn:hover {
    background-color: #669ec0;
}

.social-btn:active {
    background-color: #5496bd;
}

.mf-copyright-text {
    font-size: 14px;
    vertical-align: middle;
    margin-right: 8px;
}

.mf-copyright-link {
    display: inline-block;
    width: 113px;
    height: 39px;
    vertical-align: middle;
    background-image: url("../img/copyright.png");
}

.mf-copyright-link:hover {
    background-image: url("../img/copyright-hvr.png");
}

.mf-copyright-link:active {
    background-image: url("../img/copyright-active.png");
}


/*----------------------index.html----------*/


/*-----------------------main-img------------*/

.main-img {
    width: 1200px;
    padding-top: 76px;
    background-image: url(../img/bg-index-img.jpg);
    background-position: 0 -55px;
}

.main-img-text {
    width: 458px;
    height: 352px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 23px;
    background-image: url(../img/bg-index-text.png);
}

.main-img-mask {
    height: 57px;
    background-image: url(../img/bg-index-mask.png);
}


/*-----------------------feature-title------------*/

.feature-title {
    padding-top: 60px;
    min-height: 156px;
    text-align: center;
}

.feature-title-header {
    margin-top: 0;
    margin-bottom: 34px;
    font-size: 21px;
    font-weight: bold;
    line-height: 25px;
    color: #000;
}

.feature-title p {
    margin: 0;
    padding: 0;
}


/*----------------------------feature-items-------*/

.features-item {
    float: left;
    width: 400px;
    text-align: center;
}

.features-item-special {
    padding-top: 54px;
    min-height: 202px;
    color: #fff;
    background-color: #81b3d2;
}

.features-item-ordinary {
    padding-top: 46px;
    min-height: 210px;
    background-color: #eee;
}

.features-img {
    float: left;
    width: 800px;
    height: 256px;
    margin: 0;
    padding: 0;
}

.features-img-01 {
    background-image: url("../img/bg-feature-01.jpg");
}

.features-img-02 {
    background-image: url("../img/bg-feature-02.jpg");
}

.features-item-header {
    margin-top: 0;
    font-size: 21px;
    font-weight: bold;
}

.features-item-list-header {
    margin-bottom: 25px;
    line-height: 24px;
}

.features-symbol {
    margin-bottom: 24px;
}


/*------------------------features-section--------*/

.features-section {
    padding-top: 55px;
    min-height: 275px;
    text-align: center;
}

.features-section-header {
    margin-bottom: 22px;
    line-height: 26px;
    color: #000;
}

.features-section p {
    margin: 0;
    padding: 0;
    line-height: 21px;
}

.features-icon {
    height: 76px;
    margin-bottom: 27px;
    margin-left: auto;
    margin-right: auto;
}

.features-icon-01 {
    width: 76px;
    background-image: url(../img/spryte.png);
    background-position: 0 0;
}

.features-icon-02 {
    width: 76px;
    background-image: url(../img/spryte.png);
    background-position: 158px 3px;
}

.features-icon-03 {
    width: 68px;
    background-image: url(../img/spryte.png);
    background-position: 67px 1px;
}


/*---------------------------offer-------------*/

.offer {
    text-align: center;
}

.offer-title {
    padding-top: 50px;
    min-height: 241px;
}

.offer-header {
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    color: #000;
}

.offer-title p {
    margin: 0;
    line-height: 24px;
}

.map {
    position: relative;
    height: 593px;
    background-image: url("../img/map.jpg");
}


/*------------------------offer-search-----------*/

.offer-search {
    display: none;
    position: absolute;
    top: -86px;
    left: 50%;
    margin-left: -284px;
    width: 568px;
}

.offer-search-title {
    padding-top: 35px;
    min-height: 51px;
    text-align: center;
}

.offer-search-title h2 {
    margin: 0;
}

.offer-search-form {
    padding: 55px;
}

.offer-search-form input[type="text"] {
    margin-bottom: 29px;
}

.offer-search-form label {}


/*----------------hotels.html-----------------*/


/*----main-filter-----------------------------*/

.main-filter {
    padding-top: 28px;
    min-height: 189px;
    color: #fff;
    background-color: #547698;
    background-image: url("../img/bg-filter.jpg");
    background-position: 0 -55px;
}

.main-filter-list {
    float: left;
    width: 240px;
    margin-right: 15px;
}

.main-filter-title {
    margin-top: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
}

.mf-list-title {
    margin-bottom: 25px;
}

.mf-range-title {
    margin-bottom: 10px;
}

.main-filter-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-filter-list li {
    margin: 0;
    margin-bottom: 26px;
    padding: 0;
}

.main-filter-list li:last-child {
    margin-bottom: 0;
}

.main-filter-col-right {
    float: right;
    width: 329px;
}

.main-filter-range {
    min-height: 100px;
    margin-bottom: 20px;
}

.mf-price-range {
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    border: 2px solid #fff;
    text-align: center;
    font-size: 0;
}

.mf-price {
    display: inline-block;
    vertical-align: baseline;
    text-align: center;
    min-height: 22px;
    font-size: 14px;
}

.mf-price span {
    vertical-align: middle;
}

.mf-price-from {
    width: 157px;
}

.mf-price-to {
    width: 155px;
    border-left: 2px solid #fff;
}

.main-filter-btn-output {
    min-height: 38px;
    text-align: center;
}

button[name="main-filter-btn-output"] {
    height: 36px;
    width: 136px;
    background: transparent;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    line-height: 21px;
    border: 2px solid #fff;
}


/*-----------output-options----------------------*/

.output-options {
    line-height: 86px;
    min-height: 86px;
    border-bottom: 1px solid #e5e5e5;
}

.output-options-col-left {
    float: left;
    width: 800px;
}

.output-options-col-right {
    float: right;
    width: 200px;
    text-align: right;
}

.output-options-container {
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
}

.output-options-item {
    display: inline-block;
    vertical-align: baseline;
}

.options-found {
    margin-right: 45px;
    font-size: 21px;
    font-weight: bold;
    line-height: 24px;
}

.options-sort {
    margin-right: 35px;
    font-size: 12px;
    line-height: 14px;
}

.sort-by-btn {
    margin-right: 29px;
    font-size: 12px;
    line-height: 14px;
    color: #000;
    opacity: 0.3;
    text-decoration: none;
    border-bottom: 1px dotted #81b3d2;
}

.sort-by-btn:hover {
    opacity: 1;
    color: #81b3d2;
}

.sort-by-btn:active {
    opacity: 1;
    color: #000;
    border-bottom: none;
}

.sort-by-btn.sort-by-btn-active,
.sort-by-btn.sort-by-btn-active:hover,
.sort-by-btn.sort-by-btn-active:active {
    opacity: 1;
    color: #81b3d2;
    border-bottom: none;
}

.sort-asc-btn,
.sort-desc-btn {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    line-height: 16px;
}


/*------------output-------------------------------*/

.output-item {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
}

.output-img {
    float: left;
    width: 135px;
    height: 90px;
    margin-right: 30px;
}

.output-info {
    float: left;
    width: 700px;
}

.output-info-row {
    line-height: 30px;
    min-height: 30px;
}

.output-info-item {
    display: inline-block;
}

.output-title,
.output-type,
.output-price {
    line-height: normal;
    text-align: left;
    vertical-align: top;
}

.output-title {
    padding: 0;
    margin: 0;
    font-size: 21px;
    font-weight: bold;
    line-height: 21px;
    color: #000;
    text-decoration: none;
}

.output-title:hover {
    color: #81b3d2;
}

.output-title:active {
    color: #000;
    opacity: 0.3;
}

.output-btn {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    line-height: 14px;
    vertical-align: bottom;
    text-align: center;
    text-decoration: none;
}

.output-type {
    min-width: 110px;
}

.output-type,
.output-more {
    margin-right: 4px;
}

.output-more {
    font-weight: bold;
    color: #fff;
    background-color: #81b3d2;
}

.output-more:hover {
    background-color: #669ec0;
}

.output-more:active {
    background-color: #5496bd;
    color: #94b9d2;
}

.output-order {
    font-weight: bold;
    color: #fff;
    background-color: #766357;
}

.output-order:hover {
    background-color: #604e43;
}

.output-order:active {
    color: #928a85;
    background-color: #503e33;
}

.output-rating-col {
    float: right;
}

.output-rating-row {
    float: right;
    line-height: 30px;
    min-height: 30px;
}

.output-rating {
    padding-right: 12px;
    color: #666;
    background-color: #f2f2f2;
}

.output-stars {
    min-height: 60px;
    /*дял оформления*/
    outline: 2px solid cadetblue;
}


/*======================================
 Системное оформление - не изменять
=======================================*/


/*p,
h1,
h2,
h3,
h4,
span,
a{
    outline: 2px solid cadetblue;
}*/

.gl00,
.gl0,
.gl1,
.gl2,
.gl3 {
    position: relative;
}

.gl00 {
    margin-top: 30px;
}

.gl00:before,
.gl0:before,
.gl1:before,
.gl2:before,
.gl3:before {
    content: '';
    position: absolute;
    left: -1px;
    top: 0;
    height: 20px;
    padding: 2px 5px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    font-family: "Courier New", monotype;
    white-space: nowrap;
}

.gl0:before,
.gl1:before,
.gl2:before {
    top: -20px;
}

.gl2:before {
    left: 100px;
}

.gl00 {
    outline: 2px solid orange;
}

.gl00:before {
    color: #fff;
    background: orange;
}

.gl0 {
    outline: 2px solid blue;
    background: rgba(0, 0, 255, .1);
    margin-bottom: 30px;
}

.gl0:before {
    color: #fff;
    background: rgba(0, 0, 255, .9);
}

.gl1 {
    outline: 2px solid green;
    background: rgba(0, 128, 0, .1);
}

.gl1:before {
    color: #fff;
    background: rgba(0, 128, 0, .9);
}

.gl2 {
    outline: 2px solid rgb(255, 45, 82);
    background: rgba(255, 45, 82, .1);
}

.gl2:before {
    color: #fff;
    background: rgba(255, 45, 82, .9);
}

.gl3 {
    outline: 2px solid rgb(234, 255, 45);
    background: rgba(234, 255, 45, .1);
}

.gl3:before {
    color: #000;
    background: rgba(234, 255, 45, .8);
}

.gl4:before {
    color: #000;
    background: cadetblue;
}

.main-img:before {
    content: "";
}

.main-img-text:before {
    content: "";
}

.container:before {
    content: "";
}

.feature-title:before {
    content: "";
}

.features-img:before {
    content: "";
}

.features-section:before {
    content: "";
}

.features-row:before {
    content: ".features-row";
}

.main-footer:before {
    content: "";
}

.mf-layout-column:before {
    content: "";
}

.main-img-mask:before {
    content: "";
}

.main-filter-col-right:before {
    content: "";
}

.main-filter-list:before {
    content: "";
}

.output-item:before {
    content: "";
}

.main-filter:before {
    content: "";
}

.output-options:before {
    content: "";
}

.output:before {
    content: "";
}

.output-options-col-left:before {
    content: "";
}

.output-options-col-right:before {
    content: "";
}

.output-stars:before {
    content: "";
}

.features-item:before {
    content: "";
}